.btn-default{
	background-color:#f4f4f4;
	color:#444;
	border-color:#ddd;
}

.btn-group-xs > .btn, .btn-xs{
	padding: 1px 5px !important;
	font-size: 12px !important;
	line-height: 1.5 !important;
	border-radius: 3px !important;
}

.btn-group-sm > .btn, .btn-sm{
	padding: .25rem .5rem !important;
	font-size: .875rem !important;
	line-height: 1.5 !important;
	border-radius: .2rem !important;
}

/* world chat */

#normal{
	color:#845405;
}

#whisper{
	color:#20B2AA;
}

#area{
	color:#512E5F;
}

#yelling{
	color:#196F3D;
}

#party{
	color:#9A7D0A;
}

#guild{
	color:#78281F;
}

#trade{
	color:#154360 ;
}

/* Tables */

.table-dark{
	background-color:#3f4d67 !important;
}

/* Fix header dropdown bug */

.dropdown-toggle::after {
	width: auto !important;
}

/* .pcoded-navbar.navbar-dark .pcoded-inner-navbar li.active>a, .pcoded-navbar.navbar-dark .pcoded-inner-navbar li:focus>a, .pcoded-navbar.navbar-dark .pcoded-inner-navbar li:hover>a {
	background: rgba(4,169,245,.1) !important;
}
 */

.ck-editor__editable_inline {
    min-height: 300px !important;
		width: 500px !important;
}

/* .ck.ck-editor__editable > .ck-placeholder::before {
    color: #d21714;
    font-family: Georgia;
}
 */
